$black: #000;
$gray: #ccc;
$body-bg: #F4F4F4;
$red-pink: #f05152;
$desc-text: $red-pink;

//Link colors
$link-hover: $red-pink;
$nav-bg: $red-pink;
// CTA colors
// $cta-bg: #FC3A52;
$cta-bg: $red-pink;
$cta-bg-alt: #F9B248;
